<div class="nav">
    <div class="title"><%= locals[:title] %></div>
    <% if current_user %>
      <div class="name"><%= current_user.name %></div>
    <% else %>
      <div class="have-account">Already have an account?</div>
    <% end %>
    <%= render 'dashboard/session_links' %>
</div>