<p><strong>Congratulations!</strong>  You've been accepted and successfully completed interviews and training.  Welcome to the team!</p>

<p>If you did not receive follow-up emails or have not been able to reach your manager, please contact support.</p>