<p>The next step is to invite you to train with us for a <strong>few hours</strong>!  Please reply to the email we sent to <strong><%= current_user.email %></strong>.</p>

<p>Have you already scheduled training or recently completed training?  Please allow us a day or two to review feedback.</p>