<p>Congrats!  We're in the process of scheduling a <strong>twenty minute</strong> phone interview with you!</p>  Please check your email account <strong><%= current_user.email %>.</strong>

<p>Have you already scheduled or just completed a call?  We are reviewing feedback.  Please wait for next steps.</p>