<p>Welcome, <%= current_user.name%>!</p>
<p>It's time for your quiz.  You have <strong>two minutes</strong> to complete 21 questions.  Ready?</p>
<input type="button" value="Start Quiz" class="start-quiz btn">