<p>Thank you for applying.  Due to various logistical constraints, we are unable to select everybody.  Be sure to come back and try again after 60 days from the date you last submitted your quiz.</p>

<p>You will be able to take the quiz again on: <span class="date"></span></p>