/* Dashboard */
ul.stage-progress-bar {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    background-color: rgba($gray, 0.5);
    border: 2px solid darken($base_color, 5%);
    display: block;
    font-size: .8em;
    margin-left: auto;
    margin-right: auto;
    padding: .7em .8em;
    width: 100%;

    &.selected {
      background-color: lighten($base_color, 15%);
      color: darken($base_color, 30%);
      font-size: .9em;
      font-weight: 600;
      padding: .8em;
    }
    
    .time-estimate {
      display: inline-block;
    }
  }
}

.stage-instructions {
  margin: 20px 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 820px) {

  ul.stage-progress-bar {
    width: auto !important;

    li {
      display: inline-block !important;
      min-height: 54px !important;
      text-align: center;
      vertical-align: middle;
      width: auto !important;

      .time-estimate {
        display: block;
      }
    }
  }
}

